body{
width: 330px;
margin: 0 auto;
}

h2{
text-align: center;
}
#cartel{
  width: 330px;
  height: 120px;
  background-color: black;
  position: relative;
  left:-40px;
}

#pantalla{
  width: 275px;
  height: 125px;
  background-color: #D1D2D7;
  position: absolute;
  top:15px;
  left:25px;
  border-radius: 8px;
}

#subpantalla{
  width: 240px;
  height: 100px;
  background-color: #30A0BF;
  border-radius: 8px;
  margin: auto;
  margin-top: 12px;
}

#encabezado{
  position: absolute;
  top:-10px;
  left:58px;
  color:white;
  font-size: 28px;
  text-align: center;
  font-weight:bold;
}

section{
  clear:left;
  }
section::before{
content:"......................................................................................";

}

.separador {
  float:left;
  position:relative;
  width: 160px;
  height: 180px;
  background-color: white;
  }

#triangulo {
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 40px;
  border-color: transparent transparent #37AACB transparent;
  border-top-width: 0px;
  position: relative;
  top:20px;
  left:40px;
}

#alcancia {
  width: 120px;
  height:100px;
  background-color: black;
  border-radius: 100%;
  position: relative;
  top:30px;
  left: 30px;
}
.patas {
  width: 15px;
  height: 18px;
  background-color: black;
  position: absolute;
  top:85px;
}

#cara {
  width: 60px;
  height: 60px;
  background-color: black;
  position: absolute;
  top:18px;
  left:-1px;
  border-top-left-radius: 12px;
  border-bottom-left-radius:20px;
}
#nariz {
  width: 30px;
  height: 28px;
  background-color: black;
  position: absolute;
  top:26px;
  left:-16px;
  border-top-left-radius: 4px;
  border-bottom-left-radius:20px;
}

#ojo {
  width: 5px;
  height: 5px;
  background-color: white;
  border-radius: 100%;
  position: absolute;
  top:0px;
  left:22px;
}

#pata1 {
  left:20px;
}
#pata2 {
  left:85px;
}

#precio {
top:-2px;
position:absolute;
left:20px;
font-size:26px;
text-align: center;
color:#3F878E;
}
#leyenda-precio1{
  position:absolute;
  top:44px;
  left:23px;
  font-size:12px;
  text-align: center;
  color:white;
}

#cuadrado{
  background-color:#37AACB;
  width: 50px;
  height: 40px;
  position:absolute;
  left:-24px;
  top:40px;
}

#porcentaje {
  position:absolute;
  top:-30px;
  left:5px;
  font-size: 20px;
  font-weight: bold;
}

#porcentaje2{
  top:-2px;
  position:absolute;
  left:40px;
  font-size:35px;
  text-align: center;
  color:#3F878E;
}

#porcentaje2::after{
  content:"";
  display:content;
  background-color:grey;
  width:125px;
  height:1px;
  position:absolute;
  top:40px;
  right:-30px;
}

.leyenda-precio {
  position:absolute;
  top:110px;
  left:25px;
  font-size:12px;
  text-align: center;
 }
#edificios{
  position: absolute;
  left:5px;
}

#columna1{
  top:120px;
  color:#45B3BA;
  font-weight: bold;
}

#columna2{
  position: absolute;
  left: 90px;
  top:120px;
  color:#E4463D;
  font-weight: bold;
}

#circulo{
  background-color:black;
  width:150px;
  height:155px;
  position: absolute;
  right:-30px;
  border-radius: 50%;
}

#leyenda-empleo{
  position:absolute;
  top:90px;
  left:32px;
  font-size:12px;
  text-align: center;
  color:white;
}
.separador_pequeno {
  width: 106px;
  height: 180px;
}

#cabeza{
  width: 30px;
  height: 30px;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  left:32px;
}

#cuerpo{
  width: 36px;
  height: 60px;
  background-color: black;
  position: absolute;
  top:50px;
  left:30px;
}

#hombros{
  width: 72px;
  height: 12px;
  background-color: black;
  position: absolute;
  top:0px;
  left:-17px;
  border-radius:4px 4px 0px 0px;

}
.brazos {
  width: 14px;
  height: 60px;
  background-color: black;
  position: absolute;
  border-radius:4px 4px 4px 4px;
}

#derecho{
  left:60px;
}

.piernas{
  width: 14px;
  height: 60px;
  background-color: black;
  position:absolute;
  top:60px;
  border-radius:0px 0px 4px 4px;
}

#derecha{
  left:22px;
}

#edad{
  color:white;
  text-align: center;
}
